/* boilerplate */

html
{
	scroll-behavior: smooth;
}


body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	width: 1400px;
	height: 800px;
	
}

section
{
	
	width: 100%;
	height: 100%;
	justify-content: center; 
	align-items: center;
	padding-top: 300px;
	

}


section .section1
{
	position: relative;
	width: 100%;
	height: 100%;
	
	
}



.face1

{
	width: 100%;
	height: 100%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}

@media(max-width: 800px) {

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}	

}


.section1 .face1
{
	top: 0;
	left: 0;
	transition-property: left, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s,.5s;
	z-index: 3;



	
}
.section1:hover .face1
{
	transition-property: transform, z-index, left;
	transition-delay: 3s, .5s, .5s;
	transition-duration: 2s, 0s, 1s;
	transform: translate(550px);
	z-index: 2;
	left: -1250px;
	


}






.section1 .face1 img{

	max-width: 50%;
	max-height: 50%;
	margin-bottom: 30%;
	margin-left: 65%;
	background: transparent;
	z-index: 2;
	
}




	
	




.section2

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30%;
	


}

@media(max-width: 800px) {

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}	

}


.section2 .face2
{
	top: 0;
	left: 0;
	transition-property: left, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s,.5s;
	z-index: 3;



	
}
.section2:hover .face2
{
	transition-property: transform, z-index, left;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s, 3s,.5s;
	transform: translate(500px);
	z-index: 2;
	left: -775px;

	


}






.section2 .face2 img{

	max-width: 50%;
	max-height: 50%;
	margin-bottom: 30%;
	background: transparent;
	z-index: 2;
	
}




.section2 .face22
{
	top: 0;
	left: 0;
	transition-property: left, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s,.5s;
	z-index: 3;



	
}
.section2:hover .face22
{
	transition-property: transform, z-index, left;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s, 3s,.5s;
	transform: translate(250px);
	z-index: 2;
	left: -200px;
	


}






.section2 .face22 img{

	max-width: 50%;
	max-height: 50%;
	margin-bottom: 20%;
	background: transparent;
	z-index: 2;
	
}

.section3

{
	width: 50%;
	height: 50%;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}

@media(max-width: 800px) {

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}	

}


.section3 .face3
{
	top: 0;
	left: 0;
	transition-property: left, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s, .5s;
	z-index: 3;



	
}
.section3:hover .face3 
{
	transition-property: transform, z-index, left;
	transition-delay: 0s, .5s, .5s;
	transition-duration: 1s, 0s, .5s;
	transform: translate(850px);
	z-index: 2;
	left: -1000px;
	


}




.section3 .face3 img{

	max-width: 50%;
	background: transparent;
	z-index: 2;
	
}


.section4

{
	width: 50%;
	height: 50%;
	margin-left: 30%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
	


}

@media(max-width: 800px) {

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}	

}


.section4 .face4
{
	top: 0;
	left: 0;
	transition-property: left, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s,.5s;
	z-index: 3;



	
}
.section4:hover .face4 
{
	transition-property: transform, z-index, left;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s, 0s,.5s;
	transform: translate(-550px,550px);
	z-index: 2;
	left: -750px;
	


}




.section4 .face4 img{

	max-width: 50%;
	background: transparent;
	z-index: 2;
	
}

.section5

{
	width: 50%;
	height: 50%;
	margin-left: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
	


}

@media(max-width: 800px) {

{
	width: 50%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	


}	

}


.section5 .face5
{
	top: 0;
	left: 0;
	transition-property: right, z-index, transform;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s,0s,.5s;
	z-index: 3;



	
}
.section5:hover .face5
{
	transition-property: transform, z-index, right;
	transition-delay: 0s, .5s, .5s;
	transition-duration: .5s, 0s,.5s;
	transform: scale(2.2,2.2);
	z-index: 2;
	

	
	


}




.section5 .face5 img{

	max-width: 20%;
	background: transparent;
	z-index: 2;
	margin-left: 40%;
	
	
}


header
{
	width: 100px;
	height: auto;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	font-size: 2em;
	color: white;
	text-shadow: -2px 2px 20px rgba(0,0,0,.2);
	z-index: 200;

}

.title

{
	line-height: 50px;
	box-sizing: border-box;
	font-weight: bold;
	
	text-decoration: none;
	font-color: white;
	padding-top: 15px;
	padding-left: 145px;
}

.title2

{
	line-height: 50px;
	box-sizing: border-box;
	font-weight: bold;
	
	text-decoration: none;
	font-color: white;
	padding-top: 35px;
	padding-left: 165px;
}





ul
{
	width: 100%;
	background: transparent;
	height: 50px;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	letter-spacing: 0;
	display: flex;
	z-index: 200;
	font-size: 1.2em;
	padding-top: 10px;
	text-shadow: -2px 2px 20px rgba(0,0,0,.3);
	justify-content: center;
	padding-top: 20px;


	
	


}

@media (max-width: 680px)

{
	ul
{
	width: 50%;
	background: white;
	height: 50px;
	margin: 0;
	padding: 0;
	top: 0;
	letter-spacing: 0;
	display: flex;
	z-index: 1;
	font-size: 1.5em;
	padding-top: 10px;
	text-shadow: -5px 0px 20px rgba(0,0,0,.5);
	justify-content: center;


	
	


}
}

ul li 
{
	list-style: none;
	
}

ul li a 
{
	
	line-height: 50px;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin: 0 40px;

	
}

ul li a:hover
{
	background: black;
}