body
{
    font-family: sans-serif;
    width:400px;
    margin-top: -50px;
    line-height: 10px;
    position: fixed;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #d3d3d3;
  
}



.textanimation
{
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: white;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
    font-size: 30px;
    margin-top: 250px;

}

#s100
{
    font-weight: 100;
    animation: ani1 1s infinite ease;
}



@keyframes ani1 
{
    0% {font-weight: 200;}
    6% {font-weight: 300;}
    12% {font-weight: 400;}
    18% {font-weight: 500;}
    24% {font-weight: 600;}
    30% {font-weight: 700;}
    36% {font-weight: 800;}
    42% {font-weight: 900;}
    50% {font-weight: 800;}
    57% {font-weight: 700;}
    63% {font-weight: 600;}
    69% {font-weight: 500;}
    75% {font-weight: 400;}
    82% {font-weight: 300;}
    88% {font-weight: 200;}
    94% {font-weight: 100;}
    100% {font-weight: 100;}
}


#s200
{
    font-weight: 200;
    animation: ani2 1s infinite ease;
}

@keyframes ani2
{
    0% {font-weight: 200;}
    6% {font-weight: 300;}
    12% {font-weight: 400;}
    18% {font-weight: 500;}
    24% {font-weight: 600;}
    30% {font-weight: 700;}
    36% {font-weight: 800;}
    42% {font-weight: 900;}
    50% {font-weight: 800;}
    57% {font-weight: 700;}
    63% {font-weight: 600;}
    69% {font-weight: 500;}
    75% {font-weight: 400;}
    82% {font-weight: 300;}
    88% {font-weight: 200;}
    94% {font-weight: 100;}
    100% {font-weight: 100;}

}

#s300
{
    font-weight: 300;
    animation: ani3 1s infinite ease;
}

@keyframes ani3
{
    0% {font-weight: 300;}
    6% {font-weight: 400;}
    12% {font-weight: 500;}
    18% {font-weight: 600;}
    24% {font-weight: 700;}
    30% {font-weight: 800;}
    36% {font-weight: 900;}
    42% {font-weight: 800;}
    50% {font-weight: 700;}
    57% {font-weight: 600;}
    63% {font-weight: 500;}
    69% {font-weight: 400;}
    75% {font-weight: 300;}
    82% {font-weight: 200;}
    88% {font-weight: 100;}
    94% {font-weight: 200;}
    100% {font-weight: 300;}

}

#s400
{
    font-weight: 400;
    animation: ani4 1s infinite ease;
}


@keyframes ani4
{
    0% {font-weight: 400;}
    6% {font-weight: 500;}
    12% {font-weight: 600;}
    18% {font-weight: 700;}
    24% {font-weight: 800;}
    30% {font-weight: 900;}
    36% {font-weight: 800;}
    42% {font-weight: 700;}
    50% {font-weight: 600;}
    57% {font-weight: 500;}
    63% {font-weight: 400;}
    69% {font-weight: 300;}
    75% {font-weight: 200;}
    82% {font-weight: 100;}
    88% {font-weight: 200;}
    94% {font-weight: 300;}
    100% {font-weight: 400;}

}

#s500
{
    font-weight: 500;
    animation: ani5 1s infinite ease;
}

@keyframes ani5
{
    0% {font-weight: 500;}
    6% {font-weight: 600;}
    12% {font-weight: 700;}
    18% {font-weight: 800;}
    24% {font-weight: 900;}
    30% {font-weight: 800;}
    36% {font-weight: 700;}
    42% {font-weight: 600;}
    50% {font-weight: 500;}
    57% {font-weight: 400;}
    63% {font-weight: 300;}
    69% {font-weight: 200;}
    75% {font-weight: 100;}
    82% {font-weight: 200;}
    88% {font-weight: 300;}
    94% {font-weight: 400;}
    100% {font-weight: 500;}
}

#s600
{
    font-weight: 600;
    animation: ani6 1s infinite ease;
}

@keyframes ani6
{
    0% {font-weight: 600;}
    6% {font-weight: 700;}
    12% {font-weight: 800;}
    18% {font-weight: 900;}
    24% {font-weight: 800;}
    30% {font-weight: 700;}
    36% {font-weight: 600;}
    42% {font-weight: 500;}
    50% {font-weight: 400;}
    57% {font-weight: 300;}
    63% {font-weight: 200;}
    69% {font-weight: 100;}
    75% {font-weight: 200;}
    82% {font-weight: 300;}
    88% {font-weight: 400;}
    94% {font-weight: 500;}
    100% {font-weight: 600;}
}

#s700
{
    font-weight: 700;
    animation: ani7 1s infinite ease;
}

@keyframes ani7
{
    0% {font-weight: 700;}
    6% {font-weight: 800;}
    12% {font-weight: 900;}
    18% {font-weight: 800;}
    24% {font-weight: 700;}
    30% {font-weight: 600;}
    36% {font-weight: 500;}
    42% {font-weight: 400;}
    50% {font-weight: 300;}
    57% {font-weight: 200;}
    63% {font-weight: 100;}
    69% {font-weight: 200;}
    75% {font-weight: 300;}
    82% {font-weight: 400;}
    88% {font-weight: 500;}
    94% {font-weight: 600;}
    100% {font-weight: 700;}
}

#s800
{
    font-weight: 800;
    animation: ani8 1s infinite ease;
}

@keyframes ani8
{
    0% {font-weight: 800;}
    6% {font-weight: 900;}
    12% {font-weight: 800;}
    18% {font-weight: 700;}
    24% {font-weight: 600;}
    30% {font-weight: 500;}
    36% {font-weight: 400;}
    42% {font-weight: 300;}
    50% {font-weight: 200;}
    57% {font-weight: 100;}
    63% {font-weight: 200;}
    69% {font-weight: 300;}
    75% {font-weight: 400;}
    82% {font-weight: 500;}
    88% {font-weight: 600;}
    94% {font-weight: 700;}
    100% {font-weight: 800;}
}

#s900
{
    font-weight: 900;
    animation: ani9 1s infinite ease;
}

@keyframes ani9
{
    0% {font-weight: 900;}
    6% {font-weight: 800;}
    12% {font-weight: 700;}
    18% {font-weight: 600;}
    24% {font-weight: 500;}
    30% {font-weight: 400;}
    36% {font-weight: 300;}
    42% {font-weight: 200;}
    50% {font-weight: 100;}
    57% {font-weight: 200;}
    63% {font-weight: 300;}
    69% {font-weight: 400;}
    75% {font-weight: 500;}
    82% {font-weight: 600;}
    88% {font-weight: 700;}
    94% {font-weight: 800;}
    100% {font-weight: 900;}
}



ul
{
    position: absolute;
    top: 359px;

   
    text-align: center;
    display: flex;
    margin:0;
    padding:0;
    text-align: left;
    font-weight: bold;
    display: block;
    



}

ul li
{
    list-style:none;
    transition: .5s;
    margin-left: -95px;
    margin-bottom: 95px;
   
}



ul li a

{
    position: relative;
    text-align: center;
    margin:50px;
    color: #262626;
    font-size: 240px;
    text-decoration:none;
    text-transform: uppercase;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -moz-text-stroke-color: white;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-width: 2px;
   



}
.textanimation:hover
{
    text-shadow: 2px 2px #839bc1;
}

ul li a:hover

{
    /*text-shadow: 5px 10px #4685ea;*/
    -moz-text-stroke-width: 3px;
    -webkit-text-stroke-width: 3px;
     -moz-text-stroke-color: black;
    -webkit-text-stroke-color: black;
    font-size: 350px;
    margin-left: 20px;
    opacity: 0.8;

  
}